<div class="main-page">
  <div class="left-box">
    <h1>ASTRID</h1>
    <h1>CHAZAUX</h1>
    <h2>Full-Stack Developer</h2>
    <button class="reach-button hoverable" data-controller="contact-form-popup">Contact me!</button>
  </div>
  <div class="right-box">
    <div class="navbar">
      <ul class="hoverable">
        <li><%= link_to "MY WORK", root_path %></li>
        <li>|</li>
        <li><%= link_to "ABOUT ME", about_path %></li>
      </ul>
    </div>
    <div class="project-container">
      <p>weekend.ink</p>
      <div class="video-wrapper" style="cursor: pointer;" onclick="window.location='https://www.weekend.ink/';" target="_blank">
        <%= video_tag "weekend.mov", autoplay: :autoplay, loop: :loop, muted: :muted, class: "website_video" %>
        <div class="video-overlay">
          <div class="video-overlay-text">
            <p>Weekend is an online calendar where you can import your personal calendar and share it with your friends - ideal to find the perfect date to meet!</p>
            <p>The calendar is meant to plan fun, so we decided to adopt a neobrutalism design with loads of colors.</p>
            <p>We had 2 weeks to develop this website, during Le Wagon Bootcamp.</p>
            <p>The pitch of the project can be seen <a href="https://www.youtube.com/watch?v=nhlmduVKoK8" target="_blank">here</a>!</p>
          </div>
        </div>
      </div>
      <div class="website-links">
        <a href="https://www.weekend.ink/" target="_blank"><i class="fa-solid fa-globe hoverable"></i></a>
        <a href="https://github.com/rmPablo1/weekend" target="_blank"><i class="fab fa-github hoverable"></i></a>
        <a href="https://www.youtube.com/watch?v=nhlmduVKoK8" target="_blank"><i class="fa-brands fa-youtube"></i></a>

      </div>
    </div>

    <div class="project-container">
      <p>otroser.es</p>
      <div class="video-wrapper" style="cursor: pointer;" onclick="window.location='https://otroser.herokuapp.com';" target="_blank">
        <%= video_tag "Otroser.mov", autoplay: :autoplay, loop: :loop, muted: :muted, class: "website_video" %>
        <div class="video-overlay">
          <div class="video-overlay-text">
            <p>Otroser is an Argentinian photographer.</p>
            <p>He needed a simple, sober website to display his work.</p>
            <p>With this app, he can load his series of photos himself.</p>
          </div>
        </div>
      </div>
      <div class="website-links">
        <a href='https://otroser.herokuapp.com' target="_blank"><i class="fa-solid fa-globe hoverable"></i></a>
        <a href="https://github.com/AstrouCh/otroser" target="_blank"><i class="fab fa-github hoverable"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="popup" id="contact-popup">
  <div class="popup-content">
    <h3>Contact me</h3>

      <%= form_with model: @contact do |form| %>
        <div class="form-row">
          <%= form.label :name %>
          <%= form.text_field :name, id: "name" %>
        </div>
        <div class="form-row">
          <%= form.label :email %>
          <%= form.email_field :email, id: "email" %>
        </div>
        <div class="form-row">
          <%= form.label :message %>
          <%= form.text_area :message, id: "message" %>
        </div>
        <%= form.submit "Send", class: "centered-button" %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        <% end %>
      <% end %>

    <div class="social-links">
      <a href="mailto:astridchazaux@hotmail.fr"><i class="fas fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/astridchazaux/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <button class="close-button">&times;</button>
  </div>
</div>
